:host {
  display: block;
  position: relative;
  z-index: 1000;
}

/* HEADER DESKTOP */
.header-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-items: center;
  margin-top: -30px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  box-shadow: none;
}

header.header-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-items: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 60px;
  background-color: transparent;
  box-shadow: none;
}

.header-left-box,
.header-right-box {
  height: 70px;
  width: auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  background-color: #79946F;
  border: 6px solid #000;
  box-shadow: 5px -4px 0px 2px #000, 6px 14px 12.5px 2px rgba(0, 0, 0, 0.25);
  gap: 25px;
  margin: 0;
}

.header-left-box img {
  max-width: 60px;
  padding: 10px;
}

.header-left-box {
  justify-self: start;
}

.header-right-box {
  justify-self: end;
}

/* BOTÕES DO HEADER */
.action-buttons {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 10px;
}

.action-buttons button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  color: #f8f8f8;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  transition: color 0.4s ease;
}

.action-buttons img {
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
  font-size: 45px;
}

.action-buttons button:hover {
  color: #bb5e5e;
}

/* BUSCA */
.search-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.search-toggle-btn {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.6rem;
  color: #f8f8f8;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  transition: color 0.3s ease;
  box-shadow: none;
}

.search-toggle-btn:hover {
  color: #bb5e5e;
}

.search-toggle-btn img {
  font-size: 30px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.3));
}

#search-popup-desktop {
  position: absolute;
  top: 120%;
  right: -10px;
  background-color: #f8f8f8;
  border: 3px solid #565555;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px) translateX(120px);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  min-width: 250px;
}

#search-popup-desktop.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) translateX(120px);
}

.search-bar-popup {
  width: 100%;
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  font-size: 1.6rem;
  background-color: #f8f8f8;
}

#list-btn,
#ofertas-btn,
#search-btn-desktop,
#perfil-btn,
#cart-btn {
  border: none;
  background-color: transparent;
  max-width: 58px;
  display: flex;
}

/* LOGO CENTRAL */
.logo-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.logo-container img {
  max-width: 320px;
}

.logo-content {
  display: flex;
  border-top: none;
}

.logo-sacolao {
  padding-top: 20px;
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.menu-mobile {
  display: none;
}

/* MENU MOBILE */
@media (max-width: 768px) {
  .header-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    padding-top: 0;
  }

  .header-left-box,
  .header-right-box {
    display: none;
  }

  #list-btn,
  #onsale-btn,
  #search-btn-desktop {
    display: none !important;
  }

  /* LOGO MOBILE */
  .logo-container {
    width: 90%;
    margin: 0 auto 0px;
    height: auto;
    padding: 15px;
    order: -1;
    border: 3px solid #3d4f38;
  }

  .logo-content {
    padding: 0;
    min-width: unset;
    height: unset;
    border-top: none;
    border-left: 3px solid #3d4f38;
    border-right: 3px solid #3d4f38;
    border-bottom: 3px solid #3d4f38;
  }

  .logo-sacolao {
    max-width: 300px;
  }

  /* MENU MOBILE */
  .menu-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 20;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .menu-hamburguer-drawer {
    display: block;
    background-color: #d6a9a1;
    border: 3px solid #000;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 3px 7px 12.5px 2px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
    width: 90%;
  }

  .opcao-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    padding-top: 5px;
    padding-bottom: 0;
    transition: max-height 0.6s ease, opacity 0.6s ease, padding 0.6s ease;
    pointer-events: none;
    gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #79946F;
    border-radius: 20px;
    margin-top: 10px;
    width: 80%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  .opcao-menu.show {
    max-height: 500px;
    opacity: 1;
    pointer-events: auto;
    padding-bottom: 30px;
  }

  /* POPUP DE BUSCA MOBILE */
  #search-popup-mobile {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -10px);
    width: 90%;
    max-width: 300px;
    background-color: #f8f8f8;
    border: 3px solid #565555;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 101;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  }

  #search-popup-mobile.show {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
  }
}