<footer class="custom-footer">
  <div class="footer-top">
    <div class="sobre"><a href="/pages/sobre.html">Sobre Nós</a></div>
    <div class="social-icons">
     <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
      <a href="https://web.whatsapp.com"><i class="fab fa-whatsapp"></i></a>
      <i class="fas fa-mobile-alt"></i>
    </div>
  </div>

  <div class="form-box">
    <textarea id="sugestao" placeholder="Dúvidas e sugestões"></textarea>
    <button id="sendButton">
      <i class="fas fa-paper-plane"></i>
    </button>
  </div>

  <div class="footer-bottom">
    <strong>Sacolão Rodrigues</strong><br>
    <span>&copy;</span>
  </div>
  <div id="messageBox" class="message-box"></div>
</footer>